$hotBtnColor: #db5566;

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

.btn-hot {
    color: #fff;
    background-color: $hotBtnColor;
    border-bottom: 2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
    color: #fff;
    background-color: darken($hotBtnColor, 0.5%);
    border-bottom: 2px solid darken($hotBtnColor, 5%);
    outline: none;
}


.btn-hot:active, .btn-hot.active {
    color: #fff;
    border-top: 2px solid #9a3c47;
    margin-top: 2px;
}

.clickIt {
    min-height: 100px;
    border-bottom: 6px solid #af4451;
    &:hover {
        border-bottom: 4px solid darken($hotBtnColor, 5%);
        color: #fff;
        outline: none;
    }
    &:focus {
        border-bottom: none;
        border-top: 2px solid darken($hotBtnColor, 5%);
        margin-top: 2px;
        outline: none;
    }
    &:active {
        border-bottom: none;
        border-top: 2px solid darken($hotBtnColor, 5%);
        margin-top: 2px;
        outline: none;
    }
}

.stats .building {
    display: inline-block;
    width: 32px;
}

.sfResidential, .mfResidential {
    text-align: center;
}

.totalMoney { 
    font-size: 5em;
    text-align: center;
}